


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans",sans-serif;
  color: white;
}
  
h1, h2, h3, h4, h5, p {
  font-weight: 200;
}
  
h1 {
  font-size: 52px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

.btn {
  text-decoration: none;
  padding: 20px;
  background-color: $secondary;
  opacity: 0.9;
  color: white;
  border-radius: 15px;
  border: 4px solid $secondary;
  cursor: pointer;
  transition: all 500ms ease;

  &:hover {
    opacity: 1;
  }
}

.btn.secondary {
  background-color: transparent;
  color: $secondary;
}

.btn, .project-card {
  font-weight: bold;
}

.skew {
  transform: skew(0, 15deg);
  &.reverse {
    transform: skew(0, -15deg);
  }
}

.filter {
  filter: brightness(50%);
}


.background-primary {
  background-color: $primary;
}
.background-secondary {
  background-color: $secondary;
}
.background-tertiary {
  background-color: $tertiary;
}

@keyframes scrollDownArrowBounce {
    50% {
      transform: translateY(5px);
    }
}