.footer {
    background-color: $secondary;
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    p {
      margin: 10px;
    }
    
    a {
      color: white;
    }
}