
    
#welcome-section {
    height: 100vh;
    background-color: $primary;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;

    .info {
        position: relative;
        margin-top: -114px;
        .btn {
            position: absolute;
            right: 0;
            bottom: -90px;
        }
    }

    h1 {
        font-weight: 200;
        margin: 0 0 0 0;
        color: $tertiary;
        
        span {
            font-weight: 800;
            color: $secondary;
        }
    }

    h4 {
        display: none;
        margin: 10px 0 0 0;
    }

    .portfolio-pic {
        display: none;
    }

    .scrollDown {
        text-align: center;
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        
        a {
            color: white;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
        
        i {
            color: $secondary;
            animation: scrollDownArrowBounce 1s infinite;
            animation-timing-function: ease-in-out;
        }
    }
}


@media screen and (min-width: 450px) {
    #welcome-section {
        h1 {
        span {
            background-color: $secondary;
            color: #FFFFFF;
            padding: 0 8px;
        }
        }
    }
}

@media only screen and (min-width: 500px) {    
    #welcome-section {
      justify-content: center;
      .info {
        p {
          display: none;
        }
        h4 {
          display: block;
        }
      }
    } 
}

@media only screen and (min-width: 900px) {
    #welcome-section {
        justify-content: space-around;
        align-items: center;

        .portfolio-pic {
        display: block;
        width: 35%;
        max-width: 370px;

        img {
            width: 100%;
        }
        }
    }
}