#navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 48, 73, 0.4);
    z-index: 2;
    height: 40px;
    text-align: right;
    padding: 10px 15px;
    font-size: 1em;
    
    a {
      text-decoration: none;
    }
}

#navbar a {
    color: white;

    &:hover {
        text-decoration: underline;
    }
}


@media only screen and (min-width: 500px) {
    #navbar {
        padding: 10px 30px;
        font-size: 1.5em;
    }
}